селектор {
    свойство: значение;
    свойство: значение;
    свойство: значение;
}

h2 {
    color: rgb(51, 121, 179);
    text-align: center;
}

.chapter {
    color: rgb(37, 102, 155);
}

h1 {
    text-align: center;
}
